<!-- TODO: DMG: Move search div to partial -->
<div id="search">
	Jobs searched as you type...
	<form method="get" autocomplete="off">
		<input type="text" value="" name="search_term" id="search_term" />
	</form>
</div>


<div id="results">
	<span id="results_header">
		Latest Ruby Jobs:
	
		<%= link_to '<img src="/images/rss-28x28.png" alt="RSS Feed" />', formatted_jobs_url(:rss) %>
	</span>
	
	<% if @jobs.length > 0 %>
		<table id="job_list">
		<%= render :partial => @jobs %>
		</table>
	<% else %>
		<span id="no_jobs">Sorry, no jobs available</span>
	<% end %>
</div>
