
<div id="search">
	LIVE SEARCH BOX HERE
</div>

<div id="results">
	<span id="results_header">
		Latest Ruby Jobs:
	
		<a href="#">RSS</a>
	</span>
	
	<% if @jobs.length > 0 %>
		<ul id="job_list">
		<%= render :partial => @jobs %>
		</ul>
	<% else %>
		<span id="no_jobs">Sorry, no jobs available</span>
	<% end %>
</div>