/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/*******************************************/

* {
	margin: 				0;
	padding: 				0;
}

body {
	background-color: 		#eee;
	font-family: 			Arial;
}

#container {
	margin: 					0 auto;
	position: 				relative;
	width: 						920px;
	border-left: 			1px solid #ccc;
	border-right: 		1px solid #ccc;
	background-color: white;
}

#header {
	height: 				60px;
	padding: 				4px 10px;
	border-bottom:	1px solid #aaa;
}

	#header h1 {
		background: url(/images/logo.png) no-repeat; 
		float: left; 
		width: 253px; 
		height: 57px;
	}
	
	#header h1 a {
		position: absolute; 
		left: 0px;
		top: -100px;
		width: 260px;
		height: 160px;
	}
	
	#header p {
		float: right;
		margin-top: 20px;
	}
	
	#header p a {
		background-color: #FFFFCC;
		padding: 6px;
		color: #333;
		font-size: 1.2em;
		font-weight: bolder;
	}
	
#content {
	min-height: 		400px;
	padding: 				4px;
	margin:					20px;
}

.flash {
	padding: 4px;
	background-color: #eee;
	border: 1px solid #ccc;
}

	.flash_error {
		background-color: red;
		border: 1px solid white;
	}
	
	.flash_notice {
		background-color: orange;
		border: 1px solid white;
	}
	
	.flash_success {
		background-color: green;
		border: 1px solid white;
	}
	
#search {
	text-align: center;
	padding-bottom: 10px;
	
}
  #search form label{
    display: block;
    margin-bottom:0.5em;
  }
  #search form input {
    font-size: 1.5em;
  }

#results {

}

#results_header {
	font-size: 1.6em;
}

#rss_link {
  float: right;
  background: url(/images/rss-28x28.png) no-repeat center right;
  padding: 8px 30px 8px 0;
  text-transform:uppercase;
  font-weight:bold;
  font-size: 0.8em;
  color: #000;
  text-decoration: none;
}
#rss_search {
}
	

#job_list {
	margin-top: 10px;
	background-color: #eee;
	width: 100%;
}

	#job_list td {
		border-bottom: 1px solid #ccc;
		padding: 6px;
	}
	
		.job .location {
			font-weight: bold;
			color: darkgreen;
		}
		
		.job .title a {
			color: red;
		}
		
		.job .company_name {
			font-style: italic;
			color: #444;
		}
		
		.job .created_at {
		  text-align: right;
		}

h2#job_title {
  font-weight: bold;
  font-size: 1.6em;
}
h2#job_title span.connective {
  font-weight: normal;
  font-style: italic;
}
dl#job_details {
  margin-top: 1em;
  line-height: 1.5;
}
dl#job_details dt {
  font-weight: bold;
  float: left;
}
dl#job_details dd {
  padding-left: 140px;
}
dl#job_details .description {
  margin: 1em 0;
}

.errorExplanation {
  padding: 10px;
  border: 1px solid black;
  margin: 10px;
  width: 50%;
}

.errorExplanation h2 {
  font-weight: bold;
}

.errorExplanation p {
  margin: 10px 0px 10px 0px;
}

.errorExplanation ul {
  padding-left: 20px;
}

#content h1 {
  font-size: 1.6em;
}

.new_job {
  padding-top: 20px;
}

.first_col {
  float: left;
  padding-right: 40px;
}

.second_col {
  float: left;
}

.form_control {
  clear: both;
}

.help_tip {
  color: blue;
  font-weight: bold;
  cursor: pointer;
}

#footer {
	background-color: 		#f5f5f5;
	border-top: 			1px solid #ccc;
	border-bottom: 			1px solid #ccc;
	padding: 				4px;
	color: 					#aaa;
	font-size: 				0.8em;
	text-align: 			center;
}
